2.Social media post (Linkedin).json
{
  "name": "4.Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        96
      ],
      "id": "b1341d8d-a6e4-4906-b421-81f07f06b3ed",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19qzGm_3ykMy9PrUwmGOGEmlA5edTj6Q9rZHueMtPnj8",
          "mode": "list",
          "cachedResultName": "n8n posting ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19qzGm_3ykMy9PrUwmGOGEmlA5edTj6Q9rZHueMtPnj8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19qzGm_3ykMy9PrUwmGOGEmlA5edTj6Q9rZHueMtPnj8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        96
      ],
      "id": "3423685c-681e-4053-b629-0b773dc86987",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gQD10P0bMS2teLgU",
          "name": "Google sheet Enable"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1574e9f6-e01c-4cdf-a396-0a8e1485b753",
              "name": "Status",
              "value": "Done",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        -128
      ],
      "id": "4fde590c-40c4-48db-b57f-e66e84afdb22",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19qzGm_3ykMy9PrUwmGOGEmlA5edTj6Q9rZHueMtPnj8",
          "mode": "list",
          "cachedResultName": "n8n posting ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19qzGm_3ykMy9PrUwmGOGEmlA5edTj6Q9rZHueMtPnj8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19qzGm_3ykMy9PrUwmGOGEmlA5edTj6Q9rZHueMtPnj8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Status": "={{ $json.Status }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Day ",
              "displayName": "Day ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Topic",
              "displayName": "Post Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        -128
      ],
      "id": "56d71a58-a31d-4c62-a5d4-abdc216ed880",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gQD10P0bMS2teLgU",
          "name": "Google sheet Enable"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# LinkedIn Post Generator\n\n## Role\nYou are an expert LinkedIn content writer who creates engaging, professional, and high-performing LinkedIn posts.\n\n## Objective\nWhen I provide a topic, research it using the latest and most reliable information available on the internet and generate a polished LinkedIn post.\n\n## Instructions\n- Research the topic using credible and up-to-date online sources.\n- Create 100% original content. Do not copy or plagiarize from any source.\n- Write in a natural, human-like, professional, and conversational tone.\n- Begin with a strong hook that captures attention within the first two lines.\n- Structure the post with short paragraphs for maximum readability.\n- Provide valuable insights, key takeaways, or actionable advice.\n- Assume I will attach a relevant image separately. Write the post so it complements an image without describing or generating one.\n- End the post with a question or call-to-action that encourages engagement.\n- Include 3–8 relevant hashtags at the end.\n- Do not use emojis unless explicitly requested.\n- Keep the post between 150–300 words, unless I specify otherwise.\n- Ensure all facts are accurate and based on reliable sources.\n- Do not include explanations, notes, or reasoning.\n- Return only the raw, plain text of the post. Do not use Markdown formatting, do not use bold text, do not use hashtags as headers, and do not use code blocks. \n\n## Output Format\nDo not use placeholders like [company name]. Simply write a realistic, standard company name instead. Return the text exactly like this:\n\nEngaging Title\n\nHook\n\nBody of the post\n\nQuestion or Call-to-Action\n\n#Hashtag1 #Hashtag2 #Hashtag3 #Hashtag4\n\n## Input\nTopic: {{ $json['Post Topic'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        384
      ],
      "id": "ad62164a-5c46-4a09-ba3f-80d4ae4ecf65",
      "name": "AI Agent",
      "notesInFlow": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=`# Image Prompt Generation Expert\n\n## Role\nYou are a creative director specializing in AI image generation prompts for business and social media platforms like LinkedIn.\n\n## Objective\nAnalyze the provided topic and generate a highly descriptive, professional image prompt. This prompt will be passed directly into an image generation model.\n\n## Image Design Guidelines\n- **Style:** Clean, professional, modern corporate aesthetic or high-quality conceptual photography/3D vector illustration.\n- **Vibe:** Engaging, meaningful, and directly relevant to the topic. \n- **Avoid Text:** Do not include text, words, or logos inside the image scene itself.\n- **Details:** Specify lighting (e.g., cinematic, soft studio), composition, colors, and specific elements to design.\n\n## Instructions\n- Return **ONLY** the raw text of the final image prompt.\n- Do not provide conversational text, introductory text (\"Here is your prompt:\"), or wrapping quotes.\n\n## Input Topic\n**Topic:**{{ $json['Post Topic'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        96
      ],
      "id": "02433f18-03c4-444e-95c2-4b4ead98fda9",
      "name": "AI Agent2",
      "notesInFlow": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1104,
        288
      ],
      "id": "b6d5d325-23d0-4a24-837a-91539e9c590f",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "prompt": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        704,
        96
      ],
      "id": "2016ebcb-f76b-473e-99bd-cca6f855ae4c",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "SIAm9yEryv51FbLm",
          "name": "n8n free OpenAI API credits"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "person": "F7fQYWEK2K",
        "text": "={{ $json.output }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1504,
        288
      ],
      "id": "9416d76f-d908-41c1-91d3-8a0b5ecc9ca1",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "W3DjSocDFwff0KSV",
          "name": "LinkedIn OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        336,
        256
      ],
      "id": "9f94f8a6-0a48-4fac-b108-d893de8f7d81",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "50qolA7VvzjoyCsk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        352,
        608
      ],
      "id": "671efb9d-aaa4-4dc3-9a9a-d1f438371a7d",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "50qolA7VvzjoyCsk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d78319e7-e5fa-4805-9e42-c890c1a5bd9a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e4d782b1a84d275a8c4d4f281165f8f12e467577a085149ccf0dbe748b4b4cf"
  },
  "nodeGroups": [],
  "id": "7MeYet03m7ElSgYY",
  "tags": []
}