1.Weather Notifier Workflow/Weather Notification Workflow.json
{
  "name": "Weather Notification Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -720,
        -288
      ],
      "id": "dc07b331-128e-471e-8628-f80912304813",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "format": "imperial",
        "cityName": "abbottabad"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        -512,
        -288
      ],
      "id": "a6a54e45-0f32-4181-8580-8291efbad5b3",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "kyxYjgvVlrUNhLc5",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "rajamoiz00000000@gmail.com",
        "subject": "Daily weather",
        "emailType": "text",
        "message": "=Hi ! The current weather is  {{ $json.main.temp }} of {{ $json.name }}\nThe wind speed is {{ $json.wind.speed }} \nThe humidity level is {{ $json.main.humidity }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -304,
        -288
      ],
      "id": "6f88b84d-adee-4ead-afd4-6207eaf9c791",
      "name": "Send a message",
      "webhookId": "379f8925-2b29-41be-8ec4-7b02f0cb20c2",
      "credentials": {
        "gmailOAuth2": {
          "id": "2fuSLTBs1npMRgvK",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "88a4d9dc-0a0c-440d-980c-402c765d9bcd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05203e1dad564ed8c77935333ca8c51f1709d73718842a17ab45b993f786805d"
  },
  "id": "oItr9HNfCBDcAhE5",
  "tags": []
}